# Make money in stocks

## Part 1

### Import packages

In [23]:
import yfinance as yf
import pandas as pd
import numpy as np
from scipy.stats import norm

### Use Yahoo finance API functionality to capture real stock data.

50 companies of 5 sectors are captured.

In [12]:
sp500 = pd.read_html("https://en.wikipedia.org/wiki/List_of_S%26P_500_companies")[0]
sp500["Symbol"] = sp500["Symbol"].str.replace(".", "-", regex=True)
sectors=sp500['GICS Sector'].unique()[0:5]
sp50=sp500[sp500['GICS Sector'].isin(sectors)]
sp50=sp50[sp50['Date first added']<'2017-01-01']
sp50=sp50[0:50]
company_symbol=sp50['Symbol'].tolist()
data=yf.download(tickers=company_symbol,start="2017-10-01",end = '2022-11-26', group_by='ticker')
sp50

[*********************100%***********************]  50 of 50 completed

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
2,ABT,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
3,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
5,ACN,Accenture,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
6,ATVI,Activision Blizzard,reports,Communication Services,Interactive Home Entertainment,"Santa Monica, California",2015-08-31,718877,2008
7,ADM,ADM,reports,Consumer Staples,Agricultural Products,"Chicago, Illinois",1981-07-29,7084,1902
8,ADBE,Adobe Inc.,reports,Information Technology,Application Software,"San Jose, California",1997-05-05,796343,1982
9,ADP,ADP,reports,Information Technology,Data Processing & Outsourced Services,"Roseland, New Jersey",1981-03-31,8670,1949
13,A,Agilent Technologies,reports,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872,1999
15,AKAM,Akamai,reports,Information Technology,Internet Services & Infrastructure,"Cambridge, Massachusetts",2007-07-12,1086222,1998
16,ALK,Alaska Air Group,reports,Industrials,Airlines,"SeaTac, Washington",2016-05-13,766421,1985
20,ALLE,Allegion,reports,Industrials,Building Products,"New York City, New York",2013-12-02,1579241,1908
23,GOOGL,Alphabet Inc. (Class A),reports,Communication Services,Interactive Media & Services,"Mountain View, California",2014-04-03,1652044,1998
24,GOOG,Alphabet Inc. (Class C),reports,Communication Services,Interactive Media & Services,"Mountain View, California",2006-04-03,1652044,1998
25,MO,Altria,reports,Consumer Staples,Tobacco,"Richmond, Virginia",1957-03-04,764180,1985
30,AAL,American Airlines Group,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201,1934
37,ABC,AmerisourceBergen,reports,Health Care,Health Care Distributors,"Conshohocken, Pennsylvania",2001-08-30,1140859,1985
38,AME,Ametek,reports,Industrials,Electrical Components & Equipment,"Berwyn, Pennsylvania",2013-09-23,1037868,1930
39,AMGN,Amgen,reports,Health Care,Biotechnology,"Thousand Oaks, California",1992-01-02,318154,1980
40,APH,Amphenol,reports,Information Technology,Electronic Components,"Wallingford, Connecticut",2008-09-30,820313,1932
41,ADI,Analog Devices,reports,Information Technology,Semiconductors,"Wilmington, Massachusetts",1999-10-12,6281,1965
45,AAPL,Apple Inc.,reports,Information Technology,"Technology Hardware, Storage & Peripherals","Cupertino, California",1982-11-30,320193,1977
46,AMAT,Applied Materials,reports,Information Technology,Semiconductor Equipment,"Santa Clara, California",1995-03-16,6951,1967
52,T,AT&T,reports,Communication Services,Integrated Telecommunication Services,"Dallas, Texas",1983-11-30 (1957-03-04),732717,1983 (1885)
54,ADSK,Autodesk,reports,Information Technology,Application Software,"San Francisco, California",1989-12-01,769397,1982
62,BAX,Baxter International,reports,Health Care,Health Care Equipment,"Deerfield, Illinois",1972-09-30,10456,1931
63,BDX,Becton Dickinson,reports,Health Care,Health Care Equipment,"Franklin Lakes, New Jersey",1972-09-30,10795,1897
69,BIIB,Biogen,reports,Health Care,Biotechnology,"Cambridge, Massachusetts",2003-11-13,875045,1978
72,BA,Boeing,reports,Industrials,Aerospace & Defense,"Chicago, Illinois",1957-03-04,12927,1916
76,BSX,Boston Scientific,reports,Health Care,Health Care Equipment,"Marlborough, Massachusetts",1995-02-24,885725,1979
77,BMY,Bristol Myers Squibb,reports,Health Care,Health Care Distributors,"New York City, New York",1957-03-04,14272,1989
78,AVGO,Broadcom Inc.,reports,Information Technology,Semiconductors,"San Jose, California",2014-05-08,1730168,1961
81,BF-B,Brown–Forman,reports,Consumer Staples,Distillers & Vintners,"Louisville, Kentucky",1982-10-31,14693,1870
82,CHRW,C.H. Robinson,reports,Industrials,Air Freight & Logistics,"Eden Prairie, Minnesota",2007-03-02,1043277,1905
86,CPB,Campbell Soup Company,reports,Consumer Staples,Packaged Foods & Meats,"Camden, New Jersey",1957-03-04,16732,1869
88,CAH,Cardinal Health,reports,Health Care,Health Care Distributors,"Dublin, Ohio",1997-05-27,721371,1971
93,CAT,Caterpillar Inc.,reports,Industrials,Construction Machinery & Heavy Trucks,"Irving, Texas",1957-03-04,18230,1925
98,CNC,Centene Corporation,reports,Health Care,Managed Health Care,"St. Louis, Missouri",2016-03-30,1071739,1984
104,CHTR,Charter Communications,reports,Communication Services,Cable & Satellite,"Stamford, Connecticut",2016-09-08,1091667,1993
108,CHD,Church & Dwight,reports,Consumer Staples,Household Products,"Ewing, New Jersey",2015-12-29,313927,1847
109,CI,Cigna,reports,Health Care,Managed Health Care,"Bloomfield, Connecticut",1976-06-30,1739940,1982
111,CTAS,Cintas,reports,Industrials,Diversified Support Services,"Mason, Ohio",2001-03-01,723254,1929
112,CSCO,Cisco,reports,Information Technology,Communications Equipment,"San Jose, California",1993-12-01,858877,1984
115,CLX,Clorox,reports,Consumer Staples,Household Products,"Oakland, California",1969-03-31,21076,1913
118,KO,The Coca-Cola Company,reports,Consumer Staples,Soft Drinks,"Atlanta, Georgia",1957-03-04,21344,1886
119,CTSH,Cognizant,reports,Information Technology,IT Consulting & Other Services,"Teaneck, New Jersey",2006-11-17,1058290,1994
120,CL,Colgate-Palmolive,reports,Consumer Staples,Household Products,"New York City, New York",1957-03-04,21665,1806
121,CMCSA,Comcast,reports,Communication Services,Cable & Satellite,"Philadelphia, Pennsylvania",2002-11-19,1166691,1963
123,CAG,Conagra Brands,reports,Consumer Staples,Packaged Foods & Meats,"Chicago, Illinois",1983-08-31,23217,1919
126,STZ,Constellation Brands,reports,Consumer Staples,Distillers & Vintners,"Victor, New York",2005-07-01,16918,1945

## Part 2

### Step 1: Calculate log-return for each company.

In [13]:
for symbol in company_symbol:
    data[symbol,'Return']=np.log(data[symbol]['Close']/data[symbol]['Close'].shift(1))
data

                  ADBE                                                  \
                  Open        High         Low       Close   Adj Close
Date
2017-10-02  149.789993  150.479996  147.520004  147.940002  147.940002
2017-10-03  148.479996  148.800003  147.990005  148.600006  148.600006
2017-10-04  148.210007  148.460007  146.600006  147.949997  147.949997
2017-10-05  148.490005  150.449997  147.710007  150.250000  150.250000
2017-10-06  149.960007  151.360001  149.529999  151.119995  151.119995
...                ...         ...         ...         ...         ...
2022-11-18  344.299988  344.700012  329.140015  330.859985  330.859985
2022-11-21  329.529999  330.250000  320.600006  321.489990  321.489990
2022-11-22  322.489990  331.540009  320.200012  330.880005  330.880005
2022-11-23  329.929993  338.500000  327.589996  335.779999  335.779999
2022-11-25  332.890015  335.510010  332.010010  334.299988  334.299988

                         GOOGL                                   ...  \
             Volume       Open       High        Low      Close  ...
Date                                                             ...
2017-10-02  2341700  48.782501  48.887001  48.097500  48.373501  ...
2017-10-03  1808200  48.377998  48.622002  48.135502  48.604000  ...
2017-10-04  2885600  48.588001  48.720001  48.280499  48.339001  ...
2017-10-05  2413800  48.639500  49.325500  48.513500  49.259499  ...
2017-10-06  2282800  49.000000  49.713001  48.925499  49.681999  ...
...             ...        ...        ...        ...        ...  ...
2022-11-18  3420900  98.769997  98.900002  96.370003  97.430000  ...
2022-11-21  3219900  97.290001  98.400002  95.360001  95.599998  ...
2022-11-22  2573800  95.949997  97.220001  94.050003  97.050003  ...
2022-11-23  2240800  97.089996  98.760002  97.089996  98.459999  ...
2022-11-25  1197800  98.239998  98.639999  97.400002  97.459999  ...

                  CI      CTAS      CSCO       CLX        KO      CTSH  \
              Return    Return    Return    Return    Return    Return
Date
2017-10-02       NaN       NaN       NaN       NaN       NaN       NaN
2017-10-03  0.015643  0.013319  0.002959  0.002700  0.008668  0.001379
2017-10-04 -0.006480 -0.001222 -0.012186  0.011183  0.006837  0.001377
2017-10-05 -0.000367  0.005488  0.004476 -0.017906  0.000439  0.007542
2017-10-06  0.001415  0.007203  0.004752  0.001395 -0.000659  0.008163
...              ...       ...       ...       ...       ...       ...
2022-11-18  0.022525  0.013645  0.025431  0.006356  0.007058  0.008372
2022-11-21 -0.012356  0.000645 -0.003564  0.017156  0.015258 -0.029959
2022-11-22  0.012795  0.012509  0.015834  0.011121  0.004340  0.017543
2022-11-23  0.001533  0.000176  0.003920 -0.012596  0.004481  0.013416
2022-11-25  0.012614  0.001909 -0.003506  0.002612  0.000958  0.014717

                  CL     CMCSA       CAG       STZ
              Return    Return    Return    Return
Date
2017-10-02       NaN       NaN       NaN       NaN
2017-10-03 -0.007016  0.008653  0.002097 -0.001355
2017-10-04  0.006056  0.007543  0.016328  0.010493
2017-10-05  0.004518 -0.006239  0.004114  0.039330
2017-10-06 -0.006716 -0.008905 -0.000587  0.004101
...              ...       ...       ...       ...
2022-11-18  0.015420  0.006981  0.028497  0.011330
2022-11-21  0.005998 -0.004357  0.012440  0.019078
2022-11-22 -0.007176  0.021599  0.004933  0.010169
2022-11-23  0.007306  0.012176  0.007896  0.006606
2022-11-25 -0.002082  0.003372  0.006758  0.003112

[1298 rows x 350 columns]

### Step 2: Construct a data frame about the stocks' close price.

In [14]:
data_close=pd.DataFrame(data=None,columns=company_symbol)
for i in range(50):
    data_close[company_symbol[i]]=data[company_symbol[i]].loc[:,'Close']
data_close

,MMM,ABT,ABBV,ACN,ATVI,ADM,ADBE,ADP,A,AKAM,...,CI,CTAS,CSCO,CLX,KO,CTSH,CL,CMCSA,CAG,STZ
Date,,,,,,,,,,,,,,,,,,,,,
2017-10-02,212.759995,53.680000,90.389999,135.440002,63.389999,42.619999,147.940002,109.320000,64.870003,50.000000,...,189.009995,145.429993,33.750000,129.479996,44.799999,72.449997,72.949997,37.970001,33.340000,199.350006
2017-10-03,214.570007,53.750000,89.699997,134.250000,63.450001,42.720001,148.600006,110.709999,65.150002,50.500000,...,191.990005,147.380005,33.849998,129.830002,45.189999,72.550003,72.440002,38.299999,33.410000,199.080002
2017-10-04,216.520004,54.340000,89.900002,135.160004,62.630001,43.029999,147.949997,111.400002,65.830002,50.500000,...,190.750000,147.199997,33.439999,131.289993,45.500000,72.650002,72.879997,38.590000,33.959999,201.179993
2017-10-05,216.369995,54.919998,90.180000,136.220001,63.090000,43.349998,150.250000,113.570000,65.699997,50.779999,...,190.679993,148.009995,33.590000,128.960007,45.520000,73.199997,73.209999,38.349998,34.099998,209.250000
2017-10-06,216.520004,55.000000,90.489998,136.250000,63.250000,43.000000,151.119995,113.480003,66.360001,50.630001,...,190.949997,149.080002,33.750000,129.139999,45.490002,73.800003,72.720001,38.009998,34.080002,210.110001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-18,126.760002,103.870003,154.979996,286.500000,74.099998,95.150002,330.859985,256.019989,146.190002,90.949997,...,319.209991,449.369995,47.790001,146.789993,61.139999,59.970001,76.459999,34.500000,35.950001,247.649994
2022-11-21,127.629997,103.879997,157.110001,287.019989,74.800003,96.110001,321.489990,257.600006,145.139999,90.919998,...,315.290009,449.660004,47.619999,149.330002,62.080002,58.200001,76.919998,34.349998,36.400002,252.419998
2022-11-22,128.600006,104.870003,159.789993,292.890015,75.879997,97.669998,330.880005,261.970001,156.860001,91.730003,...,319.350006,455.320007,48.380001,151.000000,62.349998,59.230000,76.370003,35.099998,36.580002,255.000000
2022-11-23,128.000000,106.019997,159.389999,294.529999,76.589996,96.779999,335.779999,262.579987,155.350006,91.919998,...,319.839996,455.399994,48.570000,149.110001,62.630001,60.029999,76.930000,35.529999,36.869999,256.690002
2022-11-25,129.039993,106.959999,159.619995,296.399994,73.470001,97.400002,334.299988,263.950012,156.960007,92.519997,...,323.899994,456.269989,48.400002,149.500000,62.689999,60.919998,76.769997,35.650002,37.119999,257.489990

### Step 3: Split 50 companies into 5 sectors

In [15]:
sectors

array(['Industrials', 'Health Care', 'Information Technology',
       'Communication Services', 'Consumer Staples'], dtype=object)

In [16]:
company_industrial=sp50[sp50['GICS Sector']==sectors[0]]['Symbol']
company_health_care=sp50[sp50['GICS Sector']==sectors[1]]['Symbol']
company_it=sp50[sp50['GICS Sector']==sectors[2]]['Symbol']
company_communication_services=sp50[sp50['GICS Sector']==sectors[3]]['Symbol']
company_consumer_staples=sp50[sp50['GICS Sector']==sectors[4]]['Symbol']

### Step 4: Construct a data frame about the stocks' daily log-return.

In [17]:
data_return=pd.DataFrame(data=None,columns=company_symbol)
for i in range(50):
    data_return[company_symbol[i]]=data[company_symbol[i]].loc[:,'Return']
data_return

,MMM,ABT,ABBV,ACN,ATVI,ADM,ADBE,ADP,A,AKAM,...,CI,CTAS,CSCO,CLX,KO,CTSH,CL,CMCSA,CAG,STZ
Date,,,,,,,,,,,,,,,,,,,,,
2017-10-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-10-03,0.008471,0.001303,-0.007663,-0.008825,0.000946,0.002344,0.004451,0.012635,0.004307,0.009950,...,0.015643,0.013319,0.002959,0.002700,0.008668,0.001379,-0.007016,0.008653,0.002097,-0.001355
2017-10-04,0.009047,0.010917,0.002227,0.006756,-0.013008,0.007230,-0.004384,0.006213,0.010383,0.000000,...,-0.006480,-0.001222,-0.012186,0.011183,0.006837,0.001377,0.006056,0.007543,0.016328,0.010493
2017-10-05,-0.000693,0.010617,0.003110,0.007812,0.007318,0.007409,0.015426,0.019292,-0.001977,0.005529,...,-0.000367,0.005488,0.004476,-0.017906,0.000439,0.007542,0.004518,-0.006239,0.004114,0.039330
2017-10-06,0.000693,0.001456,0.003432,0.000220,0.002533,-0.008107,0.005774,-0.000793,0.009996,-0.002958,...,0.001415,0.007203,0.004752,0.001395,-0.000659,0.008163,-0.006716,-0.008905,-0.000587,0.004101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-18,-0.003072,0.012692,0.018363,-0.002231,0.003921,0.005797,-0.020847,0.009694,0.012043,0.001761,...,0.022525,0.013645,0.025431,0.006356,0.007058,0.008372,0.015420,0.006981,0.028497,0.011330
2022-11-21,0.006840,0.000096,0.013650,0.001813,0.009402,0.010039,-0.028729,0.006152,-0.007208,-0.000330,...,-0.012356,0.000645,-0.003564,0.017156,0.015258,-0.029959,0.005998,-0.004357,0.012440,0.019078
2022-11-22,0.007571,0.009485,0.016914,0.020245,0.014335,0.016101,0.028789,0.016822,0.077655,0.008870,...,0.012795,0.012509,0.015834,0.011121,0.004340,0.017543,-0.007176,0.021599,0.004933,0.010169
2022-11-23,-0.004677,0.010906,-0.002506,0.005584,0.009313,-0.009154,0.014700,0.002326,-0.009673,0.002069,...,0.001533,0.000176,0.003920,-0.012596,0.004481,0.013416,0.007306,0.012176,0.007896,0.006606
2022-11-25,0.008092,0.008827,0.001442,0.006329,-0.041589,0.006386,-0.004417,0.005204,0.010310,0.006506,...,0.012614,0.001909,-0.003506,0.002612,0.000958,0.014717,-0.002082,0.003372,0.006758,0.003112

#### Construct the empty dictionary.

In [24]:
annual_return_in = {}
annual_return_hc = {}
annual_return_it = {}
annual_return_commu = {}
annual_return_cs = {}

### Step 5: Find the most profitable companies in each sector.

#### The most profitable company in industrial sector.

In [25]:
for symbol in company_industrial:
    annual_return_in[symbol] = data_return[symbol].mean()*252
print(annual_return_in)
max(annual_return_in.items(),key=lambda x:x[1])

{'MMM': -0.09715549367117655, 'ALK': -0.096404520121635, 'ALLE': 0.05411304036320115, 'AAL': -0.23148472701938919, 'AME': 0.14721328026482766, 'BA': -0.07020529970118879, 'CHRW': 0.0476019045032764, 'CAT': 0.12366624343813412, 'CTAS': 0.22215439741786383}

('CTAS', 0.22215439741786383)

#### The most profitable company in health care sector

In [26]:
for symbol in company_health_care:
    annual_return_hc[symbol] = data_return[symbol].mean()*252
print(annual_return_hc)
max(annual_return_hc.items(),key=lambda x:x[1])

{'ABT': 0.1339494489770093, 'ABBV': 0.11048797675368825, 'A': 0.17167975614088363, 'ABC': 0.13595333256389433, 'AMGN': 0.08083449007517897, 'BAX': -0.02337741946921494, 'BDX': 0.04228279731840211, 'BIIB': -0.006892918325343804, 'BSX': 0.07853776978926663, 'BMY': 0.03980826877323708, 'CAH': 0.0283250001561167, 'CNC': 0.10877608457306794, 'CI': 0.10465381495467983}

('A', 0.17167975614088363)

#### The most profitable company in communication services sector

In [28]:
for symbol in company_communication_services:
    annual_return_commu[symbol] = data_return[symbol].mean()*252
print(annual_return_commu)
max(annual_return_commu.items(),key=lambda x:x[1])

{'ATVI': 0.028672250212846428, 'GOOGL': 0.13610134672582805, 'GOOG': 0.13925312794039782, 'T': -0.08451535115421452, 'CHTR': 0.013401024556655738, 'CMCSA': -0.012249729079558475}

('GOOG', 0.13925312794039782)

#### The most profitable company in consumer staples sector

In [29]:
for symbol in company_consumer_staples:
    annual_return_cs[symbol] = data_return[symbol].mean()*252
print(annual_return_cs)
max(annual_return_cs.items(),key=lambda x:x[1])

{'ADM': 0.160584935563441, 'MO': -0.0661919082386838, 'BF-B': 0.10243783950064082, 'CPB': 0.024069578328894226, 'CHD': 0.09681945887244739, 'CLX': 0.027933723350796292, 'KO': 0.06528175624454273, 'CL': 0.009916726922365992, 'CAG': 0.020866842949484894, 'STZ': 0.049723610632957195}

('ADM', 0.160584935563441)

#### The most profitable company in information technology sector

In [31]:
for symbol in company_it:
    annual_return_it[symbol] = data_return[symbol].mean()*252
print(annual_return_it)
max(annual_return_it.items(),key=lambda x:x[1])

{'ACN': 0.15216780376156203, 'ADBE': 0.1583951059912184, 'ADP': 0.17126681231357843, 'AKAM': 0.11956920008037299, 'APH': 0.12424612214027136, 'ADI': 0.12945465216143784, 'AAPL': 0.2620122976040036, 'AMAT': 0.13774675588772667, 'ADSK': 0.11248204025637852, 'AVGO': 0.15351439430938937, 'CSCO': 0.07004695130183401, 'CTSH': -0.03367806663523023}

('AAPL', 0.2620122976040036)