In [1]:
import pandas as pd
import numpy as np
import math

### Import predicted data.

In [2]:
close_predict = pd.read_csv("close_predict.csv")
close_predict['date'] = pd.to_datetime(close_predict['Date'])
close_predict.set_index("Date", inplace=True)
close_predict = close_predict.iloc[:,:-1]
close_predict

,A,ALLE,AMGN,BIIB,BMY,CAT,ATVI,BDX,CHRW,CHD
Date,,,,,,,,,,
2022-08-29,131.380718,98.147062,241.181227,198.666519,66.405227,192.663060,78.987785,255.730668,116.043514,85.648039
2022-08-30,130.798271,98.679623,240.662175,198.064133,67.219551,188.031071,78.992458,254.946210,115.926283,85.300254
2022-08-31,130.957069,96.844718,240.577061,197.168918,67.592055,186.060007,78.817959,254.642618,115.302283,84.281325
2022-09-01,130.513179,96.534220,241.777353,197.033037,67.973690,184.579792,78.766513,254.970868,114.671812,84.295453
2022-09-02,130.125310,96.291704,244.860897,199.316352,69.667009,183.629147,77.793111,255.481074,115.189133,85.241380
...,...,...,...,...,...,...,...,...,...,...
2022-11-18,144.987439,110.500820,285.751894,298.971414,77.343919,229.976672,73.895758,221.425067,94.439858,75.602828
2022-11-21,145.022498,111.488692,287.462013,299.340821,77.276325,229.899213,74.373846,232.159791,95.423459,76.939432
2022-11-22,151.478534,109.401081,287.540644,301.938714,78.343670,230.920659,75.430741,233.170422,96.094731,77.545441
2022-11-23,157.079326,113.580765,287.966442,304.288935,78.543589,236.624569,76.634523,232.179426,96.362143,78.210139
2022-11-25,156.242785,113.791709,284.203255,300.913077,78.762970,235.395492,76.221539,233.790695,95.197182,78.302346

In [3]:
close_true = pd.read_csv("close_true.csv")
close_true['date'] = pd.to_datetime(close_true['Date'])
close_true.set_index("Date", inplace=True)
close_true = close_true.iloc[:,:-1]
close_true

,A,ALLE,AMGN,BIIB,BMY,CAT,ATVI,BDX,CHRW,CHD
Date,,,,,,,,,,
2022-08-29,128.110001,96.720001,239.380005,197.110001,66.750000,191.779999,78.750000,254.440002,115.029999,85.320000
2022-08-30,128.279999,96.690002,239.119995,196.080002,67.199997,186.940002,78.620003,253.169998,114.489998,84.720001
2022-08-31,128.250000,95.099998,240.300003,195.380005,67.410004,184.710007,78.489998,252.419998,114.150002,83.709999
2022-09-01,128.929993,95.730003,245.500000,199.789993,69.089996,182.440002,78.550003,255.250000,114.879997,84.860001
2022-09-02,128.009995,94.889999,242.369995,196.029999,68.610001,180.830002,77.529999,252.839996,115.360001,84.180000
...,...,...,...,...,...,...,...,...,...,...
2022-11-18,146.190002,112.959999,287.290009,302.890015,77.449997,231.429993,74.099998,225.589996,97.089996,76.419998
2022-11-21,145.139999,112.660004,288.160004,301.630005,78.959999,232.169998,74.800003,234.690002,97.570000,77.599998
2022-11-22,156.860001,113.940002,287.049988,306.720001,78.860001,237.259995,75.879997,235.610001,97.650002,78.089996
2022-11-23,155.350006,113.989998,283.399994,303.450012,79.139999,236.919998,76.589996,237.339996,98.059998,78.570000
2022-11-25,156.960007,114.320000,283.739990,305.149994,79.239998,235.699997,73.470001,238.059998,98.760002,78.889999

In [4]:
def get_close_predict(stock_name):
    return close_predict[stock_name]

In [5]:
def get_close_true(stock_name):
    return close_true[stock_name]

### Compute the nature of change

In [6]:
def delta(stock_name):
    close_predict=get_close_predict(stock_name)
    n=len(close_predict)
    delt=[0]*n
    for i in range(1,n):
        delt[i]=close_predict[i]-close_predict[i-1]
        #if close_predict[i]-close_predict[i-1]>0:
         #   delt[i]=1
        #if close_predict[i]-close_predict[i-1]<0:
          #  delt[i]=-1
        #else:
         #   delt[i]=0
    return delt

In [7]:
delta('A')

[0,
 -0.5824473007123743,
 0.15879754924799272,
 -0.4438897649665705,
 -0.38786907679696014,
 -0.7119014263152792,
 0.7032248973846151,
 4.021972417831421,
 3.8073308799848746,
 2.0269170386691258,
 -0.583808913473149,
 -4.087772244775806,
 0.6245538568045959,
 0.04779567487639724,
 -3.5609521786700498,
 -1.3110379956160614,
 -2.8415924566561443,
 -2.1529057096753377,
 -0.17473316749089918,
 -3.008437884634418,
 -0.05930524683729743,
 0.724964441312153,
 0.6904774702093306,
 -0.27472010147219805,
 -0.8624743592936426,
 7.3365406959983375,
 2.4377586907548903,
 -0.6562460669465509,
 -0.840401622299396,
 -3.8693574537792443,
 -0.7706413734285604,
 0.4893714343797768,
 -1.0477680686253734,
 1.9434697344513552,
 -1.1162129640579224,
 2.4090673625469208,
 1.9029582251059765,
 -0.8223762075067498,
 -2.310814668403509,
 3.151059161377816,
 2.678013405900856,
 3.0218332419808576,
 -0.30405710739523784,
 0.6510211637332759,
 0.3027977570900475,
 0.8034986607362953,
 0.8364806345261968,
 -2.993230948557539,
 -1.086583495854029,
 1.6156676932723713,
 1.9046403367210587,
 0.7912794207513798,
 3.0506326707709377,
 5.617271891568635,
 -0.5165277553542182,
 -1.3056013626182903,
 -0.06528159534991573,
 -0.3921852003195454,
 -1.0015418094744746,
 0.03505872088862816,
 6.45603623684292,
 5.600792066588838,
 -0.8365407564506029]

### Compute the curvature of the forecast

In [8]:
def Delta(stock_name):
    close_predict=get_close_predict(stock_name)
    n=len(close_predict)
    delt=delta(stock_name)
    Delt=[0]*(n-1)
    for i in range(1,n-1):
        Delt[i]=delt[i]-delt[i-1]
    return Delt

In [9]:
Delta('A')

[0,
 -0.5824473007123743,
 0.741244849960367,
 -0.6026873142145632,
 0.056020688169610366,
 -0.32403234951831905,
 1.4151263236998943,
 3.3187475204468058,
 -0.21464153784654627,
 -1.7804138413157489,
 -2.6107259521422748,
 -3.503963331302657,
 4.712326101580402,
 -0.5767581819281986,
 -3.608747853546447,
 2.2499141830539884,
 -1.530554461040083,
 0.6886867469808067,
 1.9781725421844385,
 -2.833704717143519,
 2.9491326377971205,
 0.7842696881494504,
 -0.034486971102822395,
 -0.9651975716815286,
 -0.5877542578214445,
 8.19901505529198,
 -4.898782005243447,
 -3.094004757701441,
 -0.1841555553528451,
 -3.0289558314798484,
 3.098716080350684,
 1.2600128078083372,
 -1.5371395030051502,
 2.9912378030767286,
 -3.0596826985092775,
 3.525280326604843,
 -0.5061091374409443,
 -2.7253344326127262,
 -1.4884384608967594,
 5.461873829781325,
 -0.47304575547696004,
 0.34381983608000155,
 -3.3258903493760954,
 0.9550782711285137,
 -0.3482234066432284,
 0.5007009036462478,
 0.03298197378990153,
 -3.8297115830837356,
 1.9066474527035098,
 2.7022511891264003,
 0.28897264344868745,
 -1.113360915969679,
 2.259353250019558,
 2.566639220797697,
 -6.133799646922853,
 -0.789073607264072,
 1.2403197672683746,
 -0.32690360496962967,
 -0.6093566091549292,
 1.0366005303631027,
 6.4209775159542914,
 -0.8552441702540818]

### Calculate the profit with initial values

In [10]:
def calculate_profit(stock_name,budget=10000,sell_t=1,buy_t=1,stock_num=0):
    close_predict=get_close_predict(stock_name)
    close_true=get_close_true(stock_name)
    close_predict=get_close_predict(stock_name)
    n=len(close_predict)
    delt=delta(stock_name)
    Delt=Delta(stock_name)
    initial_budget=budget
    for i in range(0,n-2):
        if Delt[i]>0:
            sell_num=int(Delt[i])+sell_t
            if stock_num>sell_num:
                budget=budget+close_true[i]*sell_num
                stock_num=stock_num-sell_num
            else:
                sell_num=stock_num
                budget=budget+close_true[i]*sell_num
                stock_num=stock_num-sell_num
        if Delt[i]<0:
            buy_num=-int(Delt[i])+buy_t
            if budget>close_true[i]*buy_num:
                stock_num=stock_num+buy_num
                budget=budget-close_true[i]*buy_num
            else:
                buy_num=math.floor(budget/close_true[i])
                stock_num=stock_num+buy_num
                budget=budget-close_true[i]*buy_num
        else:
            budget=budget
            stock_num=stock_num
            profit=budget+stock_num*close_true[n-1]-initial_budget
    return profit

In [11]:
## don't run
#def calculate_profit(stock_name,budget=10000,sell_num=1,buy_num=1,stock_num=0):
#    close_predict=get_close_predict(stock_name)
#    close_true=get_close_true(stock_name)
#    close_predict=get_close_predict(stock_name)
#    n=len(close_predict)
#    delt=delta(stock_name)
#    Delt=Delta(stock_name)
#    initial_budget=budget
#    for i in range(0,n-2):
#        if Delt[i]==1 and stock_num>sell_num:
#            budget=budget+close_true[i]*sell_num
#            stock_num=stock_num-sell_num
#        if Delt[i]==-1 and budget>close_true[i]*buy_num:
#            stock_num=stock_num+buy_num
#            budget=budget-close_true[i]*buy_num
#        else:
#            budget=budget
#            stock_num=stock_num
#            profit=budget+stock_num*close_true[n-1]-initial_budget
#    return profit

### Find the best sell number and buy number for each time

In [15]:
def find_best(stock_name,budget):
    profit=np.zeros((201,201))
    for k in range(-100,100):
        for l in range(-100,100):
            profit[k,l]=calculate_profit(stock_name,budget,sell_t=k,buy_t=l)
    best_profit=np.max(profit)
    best_sell_t,best_buy_t=np.where(profit==best_profit)
    print(f'For {stock_name}, the best sell threshold is {best_sell_t[0]}, the best buy threshold is {best_buy_t[0]} and the best profit is {best_profit}')
    return best_sell_t,best_buy_t,best_profit

In [16]:
stocks=['A','ALLE','AMGN','BIIB','BMY','CAT']
budgets=[3300,1200,3000,700,1200,700]
sum(budgets)

10100

In [17]:
best_profit=np.ones(6)
best_profit

array([1., 1., 1., 1., 1., 1.])

In [18]:
for i in range(len(stocks)):
    best_profit[i]=find_best(stocks[i],budget=budgets[i])[2]

For A, the best sell threshold is 101, the best buy threshold is 150 and the best profit is 1761.543533325188
For ALLE, the best sell threshold is 101, the best buy threshold is 108 and the best profit is 1434.39748382568
For AMGN, the best sell threshold is 101, the best buy threshold is 12 and the best profit is 3445.976730346709
For BIIB, the best sell threshold is 101, the best buy threshold is 0 and the best profit is 6818.085220336914
For BMY, the best sell threshold is 4, the best buy threshold is 16 and the best profit is 203.23987579345703
For CAT, the best sell threshold is 101, the best buy threshold is 200 and the best profit is 2493.5736389160156

In [19]:
best=sum(best_profit)
print(f'our best total profit is {best}')

our best total profit is 16156.816482543964